/*Variables de Fuentes y colores*/
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$primary-color: #005984;
$secondary-color: #FDC76C;
$tertiary-color: #00789B;
$black-color: #000;
$navbar-background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
$footer-gradient: linear-gradient(to right, #0B5B86, #529695);
$white-color: white;
$black-color: black;

/*Variables de Tamaños */
$font-Principal: 50px;
$font-Secundario: 40px;
$font-size-Terciario: 16px;
$font-size-lead: 20px;
$font-size-regular: 18px;

$separado-secciones: 60px 0px;

// Dimensiones
$btn-5k: 50px;
$btn-3k: 300px;
$width2k: 200px;
$slide: 233px;
$medium-think: 150px;
$little-think: 30px;
$section-h4k: 400px;



$border-r: 45px;

// Fondos y Bordes
$cover: cover;
$center: center;