/*Variables de Fuentes y colores*/
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$primary-color: #005984;
$secondary-color: #FDC76C;
$black-color: #000;
$navbar-background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
$footer-gradient: linear-gradient(to right, #0B5B86, #529695);
$white-color: white;
$black-color: black;

/*Variables de Tamaños */
$font-Principal: 50px;
$font-Secundario: 40px;
$font-size-Terciario: 16px;
$font-size-lead: 20px;

$separado-secciones: 60px 0px;